h1{
    color:darkred
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

body{
    background-color:beige
}

.pengertian{
    color:darkred
}

.penger{
    color:darkgrey
}






















.gejala{
    color:gold
}

.p{
    color:chartreuse
} 

.pengep{
    color:
}

body { text-align: center;}